*.bak
Extras/ScottoModules/STM32F072CBT6/ScottoModules-backups/
Extras/ScottoModules/STM32F072CBT6/fp-info-cache
.DS_Store
compile_commands.json
Extras/ScottoScripts/Oled Video/frames
Extras/ScottoScripts/Oled Video/frames.c
Extras/ScottoScripts/Oled Video/frames.txt
